$grey: #dddddd;
$brand-primary: #5b4681;
$light-grey: #f9f9f9;
$dark-grey: #777777;

$space: 1.4rem;

$button-bg: $brand-primary;
$button-color: white;

$base-font-size: $space;
$large-font-size: 1.8rem;
$item-text-color: $dark-grey;

$space1: 1rem;

$input-border: $grey;
$site-max-width: 50rem;

$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

$header-bg: $brand-primary;
$header-color: white;

$item-bg: $light-grey;
$item-border: darken($item-bg, 8%);
